# --- IDEs & OS ---
.idea/
.vscode/
.DS_Store
*.pem
*.swp

# --- Next.js / Node ---
node_modules/
/.next/
/out/
/build
/coverage
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts

# --- ASP.NET Core / EF Core ---
# Ignore build artifacts
[Bb]in/
[Oo]bj/
# Ignore User-specific files
*.user
*.userosscache
*.sln.docstates
# Ignore EF Core migrations bundles
*.exe
# Ignore the local secret store
UserSecretsId

# --- Docker & DB ---
# Ignore the actual data stored in your Postgres container
postgres_data/

# --- Environment Secrets ---
# VERY IMPORTANT: Never commit secrets!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
appsettings.Development.json